"*":
  "exception-reporting":
    userId: "40a1f3ee-f60b-fdd5-9336-4b09dc5e7908"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    disabledPackages: [
      "language-gfm"
    ]
  editor:
    invisibles: {}
    fontSize: 13
    softWrap: true
  autosave:
    enabled: true
  "markdown-writer": {}
